<br/>
<h2>Choose Values :</h2>
<br/>
<br/>
<%= form_for(:design,url:designs_show_path) do |f|%>
  <div>
  <%= f.label :area%>
  <%= f.select(:area,
               options_for_select(Design::VALUES_FOR_AREAS)) %>
</div>
<br/>
<br/>
<br/>
<div>
  <%= f.label :cost%>
  <%= f.select(:cost ,
               options_for_select(Design::VALUES_FOR_COST))%>

  </div>
  <br/>
  <br/>
  <br/>
  <div>
    <%= f.label :pond%>
    <%= f.select(:pond ,
                 options_for_select([ ['Koi Pond','1'], ['Duck Pond','2'] ]))%>
    </div>
    <br/>
    <br/>
    <br/>
     <div>
    <%= f.submit "Submit"%>
     </div>
<% end %>
