<h2>Profile : </h2>

<p>
<strong>Horiculturist:</strong>
<%= @dashboard.name%>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @dashboard.qualification %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @dashboard.contact %>
</p>

<br/>
<%if current_user.horticulturist %>
<%= link_to 'Add Services',services_new_path %>
<br/>
<%= link_to 'Add Products',products_new_path %>
<%end%>
<br/>
<%= link_to 'My Services',services_index_path %>
<br/>
<%= link_to 'My Products',products_index_path %>
<br/>
<%= link_to 'Edit', dashboards_edit_path(@dashboard) %>
